@media screen and (min-width: 1440px) {
  .container {

    .card {
      padding: 3.0rem;
      border-radius: 3rem;

      .star {
        width: 5.0rem;
        height: 5.0rem;

        img {
          width: 1.7rem;
        }
      }

      .title {
        margin-top: 3.4rem;
        font-size: 2.77rem;
      }

      .paragraph {
        margin-top: 0.9rem;
        line-height: 2.4rem;
        font-size: 1.505rem;
      }

      .rating-wrapper {

        .rating-btn {
          width: 5.1rem;
          height: 5.1rem;
          font-size: 1.6rem;

          div {
            transform: translateY(0);
          }
        }
      }

      .submit-btn {
        margin-top: 3.2rem;
      }
    }
  }
}